@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --search: #E6E6E6;
}

/* FONTS */

@font-face {
  font-family: "Nunito";
  src: url('/fonts/Nunito_VariableFont_whgt.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ChangaOne";
  src: url('/fonts/ChangaOne-Regular.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "JosefinSans";
  src: url('/fonts/JosefinSans-VariableFont_wght.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url('/fonts/Outfit-VariableFont_wght.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Varela";
  src: url('/fonts/VarelaRound-Regular.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url('/fonts/Sora-VariableFont_wght.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
}

/* OTHERS */

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-search: #E6E6E6;
  --color-c1-white: #EDE9E6;
  --color-c1-brown: #C9996B;
  --color-c1-darkbrown: #5C4F4A;
  --color-c1-darkteal: #5C766D;
  --color-mocha-50: #FAF7F2;
  --color-mocha-100: #F5EDE3;
  --color-mocha-200: #E8DCC8;
  --color-mocha-300: #D9C4A8;
  --color-mocha-400: #C9996B;
  --color-mocha-500: #B8825D;
  --color-mocha-600: #A66E4A;
  --color-mocha-700: #8B543F;
  --color-mocha-800: #6B3E2D;
  --color-mocha-900: #513020;

  --color-cozy-50: #FDF8F3;
  --color-cozy-100: #FCF1E6;
  --color-cozy-200: #F9E4CC;
  --color-cozy-300: #F5D1A8;
  --color-cozy-400: #EDB884;
  --color-cozy-500: #E39B6D;
  --color-cozy-600: #D67E4F;
  --color-cozy-700: #C25C2F;
  --color-cozy-800: #944520;
  --color-cozy-900: #6B3217;

  /* FONTS */

  --font-nunito: "Nunito", sans-serif;
  --font-changa: "ChangaOne", sans-serif;
  --font-josefin-sans: "JosefinSans", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-valera: "Valera", sans-serif;
  --font-sora: "Sora", sans-serif;
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  /* background: var(--color-background);
  color: var(--color-foreground); */
  font-family: inherit;
}